header{
    background-color: white;
    height: 70px;
    width: 100%;
    border-style:  solid;
    border-color:#CCCCCC;
    border-bottom:1px ;
    border-top: 0px;
    border-style: solid;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat ;
    background-position: 20px center;
}